In [1]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

In [3]:
games_df = pd.read_csv('../base_datasets/games.csv')
games_df.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,09/08/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,09/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,09/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,09/11/2022,13:00:00,CIN,PIT,20,23

In [7]:
cle_games_df = games_df.loc[(games_df['homeTeamAbbr'] == 'CLE') | (games_df['visitorTeamAbbr'] == 'CLE')]
cle_games_df.head(10)

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
2,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
18,2022091801,2022,2,09/18/2022,13:00:00,CLE,NYJ,30,31
32,2022092200,2022,3,09/22/2022,20:15:00,CLE,PIT,29,17
50,2022100201,2022,4,10/02/2022,13:00:00,ATL,CLE,23,20
67,2022100902,2022,5,10/09/2022,13:00:00,CLE,LAC,28,30
82,2022101601,2022,6,10/16/2022,13:00:00,CLE,NE,15,38
95,2022102300,2022,7,10/23/2022,13:00:00,BAL,CLE,23,20
122,2022103100,2022,8,10/31/2022,20:15:00,CLE,CIN,32,13

In [8]:
cle_games_df.reset_index(drop=True, inplace=True)
cle_games_df.head(10)

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
1,2022091801,2022,2,09/18/2022,13:00:00,CLE,NYJ,30,31
2,2022092200,2022,3,09/22/2022,20:15:00,CLE,PIT,29,17
3,2022100201,2022,4,10/02/2022,13:00:00,ATL,CLE,23,20
4,2022100902,2022,5,10/09/2022,13:00:00,CLE,LAC,28,30
5,2022101601,2022,6,10/16/2022,13:00:00,CLE,NE,15,38
6,2022102300,2022,7,10/23/2022,13:00:00,BAL,CLE,23,20
7,2022103100,2022,8,10/31/2022,20:15:00,CLE,CIN,32,13