In [1]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

In [2]:
#this notebook is used to format and clean up the orignal tracking_week_x.csv files
#so a generic week_df variable is used, care must be taken when exporting the CSV 
#to ensure the correct week is labeled correctly
#this notebook could also contain ways to make CSV files with more specifics to make nalysis more pointed
#and easier down the road
week_df = pd.read_csv('../base_datasets/tracking_week_1.csv')
week_df.head()

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022090800,56,35472.0,Rodger Saffold,1,2022-09-08 20:24:05.200000,76.0,BUF,left,88.37,27.27,1.62,1.15,0.16,231.74,147.90,NaN
1,2022090800,56,35472.0,Rodger Saffold,2,2022-09-08 20:24:05.299999,76.0,BUF,left,88.47,27.13,1.67,0.61,0.17,230.98,148.53,pass_arrived
2,2022090800,56,35472.0,Rodger Saffold,3,2022-09-08 20:24:05.400000,76.0,BUF,left,88.56,27.01,1.57,0.49,0.15,230.98,147.05,NaN
3,2022090800,56,35472.0,Rodger Saffold,4,2022-09-08 20:24:05.500000,76.0,BUF,left,88.64,26.90,1.44,0.89,0.14,232.38,145.42,NaN
4,2022090800,56,35472.0,Rodger Saffold,5,2022-09-08 20:24:05.599999,76.0,BUF,left,88.72,26.80,1.29,1.24,0.13,233.36,141.95,NaN

In [4]:
week_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407439 entries, 0 to 1407438
Data columns (total 17 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   gameId         1407439 non-null  int64
 1   playId         1407439 non-null  int64
 2   nflId          1346246 non-null  float64
 3   displayName    1407439 non-null  object
 4   frameId        1407439 non-null  int64
 5   time           1407439 non-null  object
 6   jerseyNumber   1346246 non-null  float64
 7   club           1407439 non-null  object
 8   playDirection  1407439 non-null  object
 9   x              1407439 non-null  float64
 10  y              1407439 non-null  float64
 11  s              1407439 non-null  float64
 12  a              1407439 non-null  float64
 13  dis            1407439 non-null  float64
 14  o              1346397 non-null  float64
 15  dir            1346397 non-null  float64
 16  event          130268 non-null   object
dtypes: float64(9), int64(3), object(5)
memory usage: 182.5+ MB

In [5]:
#looking at the csv I 
week_df['playId'].nunique()

1247

In [6]:
#jerseyNumber and nflId do not nead to be floats
#however, doing an .astype() conversion threw up a bunch of errors related to NaN values
#so, looking at the csv I found the ball position for the play has NA in the nflId and jerseyNumber fields
#also the nflid in the players csv is datatype int64
week_df.iloc[2274 : 2278]

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
2274,2022090800,101,NaN,football,1,2022-09-08 20:25:08.200000,NaN,football,left,72.029999,29.530001,0.0,0.0,0.0,NaN,NaN,NaN
2275,2022090800,101,NaN,football,2,2022-09-08 20:25:08.299999,NaN,football,left,72.029999,29.530001,0.0,0.0,0.0,NaN,NaN,NaN
2276,2022090800,101,NaN,football,3,2022-09-08 20:25:08.400000,NaN,football,left,72.029999,29.530001,0.0,0.0,0.0,NaN,NaN,NaN
2277,2022090800,101,NaN,football,4,2022-09-08 20:25:08.500000,NaN,football,left,72.029999,29.530001,0.0,0.0,0.0,NaN,NaN,NaN

In [7]:
#the playId and other identifiers are still intact, so I filled those values with 0 
week_df.iloc[2270 : 2285]
week_df['jerseyNumber'].fillna(0, inplace=True)  # Replace NaN with 0
week_df['nflId'].fillna(0, inplace=True)  # Replace NaN with 0
week_df['jerseyNumber'] = week_df['jerseyNumber'].astype(int)
week_df['nflId'] = week_df['nflId'].astype(int)
week_df.iloc[2274 : 2278]

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
2274,2022090800,101,0,football,1,2022-09-08 20:25:08.200000,0,football,left,72.029999,29.530001,0.0,0.0,0.0,NaN,NaN,NaN
2275,2022090800,101,0,football,2,2022-09-08 20:25:08.299999,0,football,left,72.029999,29.530001,0.0,0.0,0.0,NaN,NaN,NaN
2276,2022090800,101,0,football,3,2022-09-08 20:25:08.400000,0,football,left,72.029999,29.530001,0.0,0.0,0.0,NaN,NaN,NaN
2277,2022090800,101,0,football,4,2022-09-08 20:25:08.500000,0,football,left,72.029999,29.530001,0.0,0.0,0.0,NaN,NaN,NaN

In [8]:
#verify datatypes were changed
week_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1407439 entries, 0 to 1407438
Data columns (total 17 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   gameId         1407439 non-null  int64
 1   playId         1407439 non-null  int64
 2   nflId          1407439 non-null  int64
 3   displayName    1407439 non-null  object
 4   frameId        1407439 non-null  int64
 5   time           1407439 non-null  object
 6   jerseyNumber   1407439 non-null  int64
 7   club           1407439 non-null  object
 8   playDirection  1407439 non-null  object
 9   x              1407439 non-null  float64
 10  y              1407439 non-null  float64
 11  s              1407439 non-null  float64
 12  a              1407439 non-null  float64
 13  dis            1407439 non-null  float64
 14  o              1346397 non-null  float64
 15  dir            1346397 non-null  float64
 16  event          130268 non-null   object
dtypes: float64(7), int64(5), object(5)
memory usage: 182.5+ MB

In [9]:
week_df['event'].value_counts()

event
first_contact                28773
tackle                       26928
ball_snap                    16415
pass_outcome_caught          15870
handoff                      15364
pass_arrived                 13915
out_of_bounds                 5037
run                           2737
man_in_motion                 1288
play_action                   1035
touchdown                     1012
fumble                         621
shift                          368
qb_slide                       350
pass_forward                   248
snap_direct                     46
line_set                        46
lateral                         45
autoevent_ballsnap              30
run_pass_option                 23
qb_sack                         23
pass_shovel                     23
fumble_defense_recovered        23
fumble_offense_recovered        23
autoevent_passinterrupted       16
autoevent_passforward            9
Name: count, dtype: int64

In [12]:
cle_wk1_track_df = week_df.loc[week_df['club'] == 'CLE']
cle_wk1_track_df.reset_index()
cle_wk1_track_df.head()

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
172799,2022091101,85,41227,Jadeveon Clowney,1,2022-09-11 13:05:42.500000,90,CLE,right,26.32,17.19,4.18,2.14,0.42,14.90,258.77,NaN
172800,2022091101,85,41227,Jadeveon Clowney,2,2022-09-11 13:05:42.599999,90,CLE,right,25.91,17.12,4.01,2.40,0.42,14.04,259.13,NaN
172801,2022091101,85,41227,Jadeveon Clowney,3,2022-09-11 13:05:42.700000,90,CLE,right,25.55,17.05,3.66,2.82,0.37,14.04,259.46,NaN
172802,2022091101,85,41227,Jadeveon Clowney,4,2022-09-11 13:05:42.799999,90,CLE,right,25.20,17.00,3.38,2.93,0.35,14.04,260.68,NaN
172803,2022091101,85,41227,Jadeveon Clowney,5,2022-09-11 13:05:42.900000,90,CLE,right,24.90,16.97,3.01,3.15,0.31,11.37,262.32,pass_arrived

In [13]:
#list of playId numbers
cle_wk1_track_df['playId'].unique()

array([  85,  109,  158,  184,  213,  251,  272,  296,  361,  382,  417,
        489,  521,  542,  599,  620,  641,  662,  748,  850,  993, 1077,
       1101, 1192, 1213, 1384, 1516, 1564, 1590, 1616, 1691, 1720, 1744,
       1785, 1826, 1901, 1945, 1980, 2001, 2051, 2320, 2341, 2365, 2386,
       2407, 2431, 2452, 2478, 2501, 2545, 2629, 2683, 2783, 2832, 2909,
       2930, 2951, 3040, 3080, 3101, 3125, 3168, 3221, 3242, 3263, 3287,
       3315, 3336, 3357, 3378, 3399, 3454, 3510, 3545, 3569, 3591, 3615,
       3669, 3707, 3789, 3841, 3862, 3923, 3961, 4068, 4104, 4150])

In [14]:
#1012 touchdowns for week 1 seemed like a lot, so I looked at my favorite team, and found that each player on the field
#for the team that scored has 'event' equal to touchdown, makes more sense
touchdowns_cle_df = week_df.loc[(week_df['event'] == 'touchdown') & (week_df['club'] == 'CLE')]
touchdowns_cle_df.head(40)

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
203222,2022091101,1616,41264,Joel Bitonio,64,2022-09-11 14:14:03.000000,75,CLE,right,83.95,25.54,0.63,0.21,0.06,149.38,100.30,touchdown
203290,2022091101,1616,42347,Amari Cooper,64,2022-09-11 14:14:03.000000,2,CLE,right,101.74,26.06,3.20,2.25,0.33,172.68,148.61,touchdown
203426,2022091101,1616,43380,Jacoby Brissett,64,2022-09-11 14:14:03.000000,7,CLE,right,81.63,24.54,1.67,0.49,0.17,90.80,92.95,touchdown
203630,2022091101,1616,44841,David Njoku,64,2022-09-11 14:14:03.000000,85,CLE,right,83.94,19.88,0.77,0.48,0.07,62.33,67.64,touchdown
203698,2022091101,1616,44870,Ethan Pocic,64,2022-09-11 14:14:03.000000,55,CLE,right,94.70,23.47,2.39,0.40,0.25,89.15,91.43,touchdown
203766,2022091101,1616,44898,Kareem Hunt,64,2022-09-11 14:14:03.000000,27,CLE,right,110.30,8.01,9.41,3.07,0.95,80.26,121.30,touchdown
203970,2022091101,1616,46235,Wyatt Teller,64,2022-09-11 14:14:03.000000,77,CLE,right,89.42,26.79,1.19,0.82,0.12,40.55,57.25,touchdown
204106,2022091101,1616,52418,Jedrick Wills,64,2022-09-11 14:14:03.000000,71,CLE,right,84.53,29.74,0.69,0.39,0.07,98.26,107.09,touchdown
204310,2022091101,1616,52523,Harrison Bryant,64,2022-09-11 14:14:03.000000,88,CLE,right,100.21,18.64,4.70,1.07,0.47,113.93,120.19,touchdown
204378,2022091101,1616,52595,Donovan Peoples-Jones,64,2022-09-11 14:14:03.000000,11,CLE,right,95.13,15.86,6.50,1.61,0.66,129.88,108.22,touchdown
204582,2022091101,1616,53539,James Hudson,64,2022-09-11 14:14:03.000000,66,CLE,right,91.47,23.49,1.85,0.43,0.20,222.73,100.93,touchdown
207919,2022091101,1826,41227,Jadeveon Clowney,23,2022-09-11 14:25:46.900000,90,CLE,left,11.91,25.02,2.23,1.38,0.22,176.75,151.46,touchdown
207973,2022091101,1826,44813,Myles Garrett,23,2022-09-11 14:25:46.900000,95,CLE,left,10.17,22.03,1.34,1.27,0.13,333.97,6.59,touchdown
208081,2022091101,1826,44974,Anthony Walker,23,2022-09-11 14:25:46.900000,5,CLE,left,8.48,23.50,1.47,1.76,0.15,81.08,49.03,touchdown
208135,2022091101,1826,46073,Denzel Ward,23,2022-09-11 14:25:46.900000,21,CLE,left,8.58,12.03,4.90,0.52,0.49,357.93,348.90,touchdown
208189,2022091101,1826,46098,Taven Bryan,23,2022-09-11 14:25:46.900000,99,CLE,left,10.98,23.57,1.12,2.50,0.07,75.34,47.17,touchdown
208270,2022091101,1826,52452,Grant Delpit,23,2022-09-11 14:25:46.900000,22,CLE,left,9.57,19.76,1.50,1.31,0.16,52.98,6.99,touchdown
208297,2022091101,1826,52496,Jordan Elliott,23,2022-09-11 14:25:46.900000,96,CLE,left,8.98,22.57,0.15,0.35,0.06,95.18,205.87,touchdown
208324,2022091101,1826,52505,Jacob Phillips,23,2022-09-11 14:25:46.900000,50,CLE,left,10.11,23.88,2.22,1.32,0.24,120.53,107.81,touchdown
208378,2022091101,1826,53455,Greg Newsome,23,2022-09-11 14:25:46.900000,20,CLE,left,8.29,42.62,1.32,0.69,0.13,20.24,281.09,touchdown
208432,2022091101,1826,53561,Tommy Togiai,23,2022-09-11 14:25:46.900000,93,CLE,left,9.81,23.70,0.03,0.09,0.00,119.97,226.07,touchdown
208486,2022091101,1826,54573,Perrion Winfrey,23,2022-09-11 14:25:46.900000,97,CLE,left,10.32,25.30,0.05,0.14,0.12,16.09,136.28,touchdown
239291,2022091101,3168,41227,Jadeveon Clowney,23,2022-09-11 15:30:30.900000,90,CLE,right,101.15,29.63,3.47,2.67,0.37,121.20,94.92,touchdown
239345,2022091101,3168,44813,Myles Garrett,23,2022-09-11 15:30:30.900000,95,CLE,right,99.91,35.94,1.58,1.17,0.16,62.91,50.22,touchdown
239453,2022091101,3168,44903,John Johnson,23,2022-09-11 15:30:30.900000,43,CLE,right,113.93,26.23,4.33,1.17,0.44,24.20,332.37,touchdown
239507,2022091101,3168,46073,Denzel Ward,23,2022-09-11 15:30:30.900000,21,CLE,right,114.43,38.36,3.79,2.25,0.39,211.41,193.56,touchdown
239561,2022091101,3168,46098,Taven Bryan,23,2022-09-11 15:30:30.900000,99,CLE,right,102.98,34.19,2.98,1.80,0.32,104.63,115.26,touchdown
239615,2022091101,3168,52452,Grant Delpit,23,2022-09-11 15:30:30.900000,22,CLE,right,118.45,18.08,2.87,3.18,0.30,203.88,172.57,touchdown
239642,2022091101,3168,52496,Jordan Elliott,23,2022-09-11 15:30:30.900000,96,CLE,right,100.96,25.67,3.77,2.28,0.40,67.09,71.37,touchdown
239669,2022091101,3168,52505,Jacob Phillips,23,2022-09-11 15:30:30.900000,50,CLE,right,109.55,6.94,5.34,3.17,0.55,162.34,131.03,touchdown
239696,2022091101,3168,53455,Greg Newsome,23,2022-09-11 15:30:30.900000,20,CLE,right,118.88,28.59,0.66,0.81,0.07,349.61,13.86,touchdown
239723,2022091101,3168,53481,Jeremiah Owusu-Koramoah,23,2022-09-11 15:30:30.900000,28,CLE,right,110.24,36.07,6.73,1.01,0.68,176.79,163.29,touchdown
239858,2022091101,3168,54533,Martin Emerson,23,2022-09-11 15:30:30.900000,23,CLE,right,118.42,8.91,6.24,1.91,0.63,169.83,167.50,touchdown
250675,2022091101,3454,41227,Jadeveon Clowney,45,2022-09-11 15:46:25.000000,90,CLE,right,39.73,28.47,1.44,0.79,0.17,139.32,80.28,touchdown
250773,2022091101,3454,44813,Myles Garrett,45,2022-09-11 15:46:25.000000,95,CLE,right,35.50,25.37,1.13,0.54,0.12,44.65,45.61,touchdown
250969,2022091101,3454,44903,John Johnson,45,2022-09-11 15:46:25.000000,43,CLE,right,49.40,54.32,0.13,0.74,0.02,39.56,36.05,touchdown
251018,2022091101,3454,44974,Anthony Walker,45,2022-09-11 15:46:25.000000,5,CLE,right,65.13,40.08,0.89,0.66,0.09,29.57,75.82,touchdown
251116,2022091101,3454,46073,Denzel Ward,45,2022-09-11 15:46:25.000000,21,CLE,right,60.51,31.68,1.76,0.25,0.17,19.04,62.87,touchdown
251214,2022091101,3454,46098,Taven Bryan,45,2022-09-11 15:46:25.000000,99,CLE,right,37.73,26.77,1.76,0.73,0.19,76.92,85.48,touchdown
251361,2022091101,3454,47863,Sione Takitaki,45,2022-09-11 15:46:25.000000,44,CLE,right,71.84,43.49,0.96,0.81,0.10,65.46,104.34,touchdown